
div.dokuwiki .oembed {
    text-align: left;
}

div.dokuwiki .oembed-center {
    margin: 0 auto;
}

div.dokuwiki .oembed-right {
    float: right;
}

div.dokuwiki .oembed-title {
    margin: 0px;
    font-size: 150%;
    font-weight: bold;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0px;
}

div.dokuwiki .oembed-author {
    padding-left: 1%;
    padding-bottom: 2px;
    padding-top: 2px;
}

div.dokuwiki .oembed-provider {
    padding: 2px 5px 2px 5px;
}
